@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Mulish:wght@700&family=Roboto+Flex:opsz@8..144&display=swap');
body{
    font-family: 'Roboto Flex', sans-serif;
}
.favz{
    text-align: center;
}

.container{
    background-color:rgb(171, 171, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    border: 1px solid blue;
    box-shadow: 0px 0px 43px 17px rgb(211, 211, 251);
    overflow: hidden;
}

.row-clear{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* font-size: x-large; */
    margin: 4px;
    padding: 4px;
    text-align: center;
    
}
#cat{
    background-color: rgb(241, 41, 41);
    color: white;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* font-size: x-large; */
    margin: 4px;
    padding: 8px;
    text-align: center;
    
    
}
.input{
    font-size: 23px;
    padding: 15px 38px;
    margin: 12px;
    border: 2px solid green;
    border-radius: 5px;
}

.btns{
    font-size: 25px;
    padding: 12px;
    margin: 8px;
    border: 2px solid rgb(13, 13, 14);
    border-radius: 30%;
    cursor: pointer;
}

.btn{
    font-size: 30px;
    padding: 16px;
    margin: 10px;
    border: 2px solid rgb(13, 13, 14);
    border-radius: 30%;
    cursor: pointer;
}

#special{
    background-color: rgb(233, 198, 3);
    color: white;
    font-size: 34px;
    font-weight: bold;
}

#special:hover{
    background-color: blue;
    color: white;
}
button:hover{
    background-color: rgb(252, 160, 47);
    color: aliceblue;
}
